html {
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

#map {
  width: 60%;
  height: 40%;
  min-height: 30rem;
  border: 1px solid #ccc;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

form {
  text-align: center;
  margin: 2rem auto;
}
